# we don't want vim swap files accidentally committed. probably should have added this a bit ago
*.swp
# checker temp files
tools/releasechk/urls.txt.new
# checker err log
tools/releasechk/urls.error.log
